.dcf__disabled-resource {
  padding: 100px 20px;
  background-color: #d0d0d0;
  border: 3px solid #9E9E9E;
  color: #333;
  font-size: 14px;
  text-align: center;
}

.dcf__disabled-resource > button {
  margin-top: 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.dcf__disabled-resource > button:hover {
  background-color: #6bcc6f;
}
